*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

header h3
{
    margin-left: 40px;
    display:inline;
}

header nav
{
    display:inline;
    float:right;
    margin-right: 100px;
}

nav li
{
    display:inline;
    padding-left: 30px;
    font-size: 12px;
    text-transform: uppercase;
}

header
{
    color:white;
    background: #3c3b3f; 
    padding:25px;
    border-bottom:4px solid rgb(245, 93, 38);
   
}

nav li a
{
    text-decoration:none;
    color:white;
}

header span,nav li:first-child a{
    color:rgb(245, 93, 38);
}



.sec-1{
    padding:120px;
    text-align:center;
    background:url("lappy.jpg");
    background-size:cover;


}



.sec-1 h1{
    margin-bottom: 40px;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.sec-1 p{
    color:white;
}

.sec-2{
    padding:23px;
    font-size: 18px;
    background:#3c3b3f; 
}
.sec-2 p
{
    display: inline;
 margin-left:12%;
    color:white;
    
    font-weight:bold;
}

.sec-2 form{
    display: inline;
    margin-left:20%;

}



.sec-2 form input[type="email"]{
    border:none;
    
    width:28%;
    padding: 7.8px;
}

input[type="email"]:focus{
    outline: none;
}

.sec-2 form button{
    width:11%;
    padding: 8px;
    background-color: rgb(245, 93, 38);
    color:white;
    border: none;
    
}

button:hover{
    cursor: pointer;
  background-color:rgb(209, 84, 34)!important;
}

.logo
{
    width: 60px;
    height:75px;
}

.sec-3 div{
    width:26%;
    float:left;
   text-align: center;
}
.sec-3{
    margin-top: 40px;
    margin-bottom: 40px;
   overflow:hidden;
   
}


.title{
    margin:20px;
    font-weight: bold;
}

footer{
    background-color:rgb(245, 93, 38); 
    height: 80px;
    
}
footer p{
    position: relative;
    top:42%;
    left:38%;
    color:white
}



#html{
    margin-left: 9%;
}
#css,#gd{
    margin-left: 20px;
}

sec-1 h1{
    filter:blur(0px);
}

